.home-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    background-color: rgb(178, 212, 240);
    height: 100vh;
}
@media screen and (max-width: 45.875em){
    .home-container{
        flex-direction: column;
        gap: 3rem;
        margin: 1rem;
    }
}