@import '../../variables/Variables.scss';

.card-container{
    position: relative;
    box-shadow: .1rem .2rem .4rem rgba(5, 5, 5, .6);
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
}
@media screen and (max-width: 45.875em){
    .card-container{
        border-radius: .5rem;
    }
}
.image-wrapper{
    background-image: linear-gradient(to top, rgba(5, 5, 5, 0.1), rgba(5, 5, 5, .4)), url(../../assets/muziki.jpg);
    width: 35rem;
    height: 50rem;
    overflow: hidden;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    background-size: cover;
    background-position: center;
}
@media screen and (max-width: 45.875em){
    .image-wrapper{
        border-radius: .5rem;
    }
}
.card-content{
    position: absolute;
    top: 2%;
    left: 2.3%;

    p{
    font-size: 2rem;
    font-weight: 500;
    color: $colorWhite;
    }

        span{
            text-transform: uppercase;
            font-weight: 700;
            font-size: 2.3rem;
            color: $colorBlue;
        }
}